.cluboption {
    color : rgb(102, 101, 101);
    font-size : 115%;
}
.cluboption:hover {
    text-shadow: 2px 2px 10px rgb(90, 201, 238);
}
.clublist {
    min-width: 50%;
    max-width: 60%;
    left: 0;
    right: 0;
    margin: 0 auto 2%;
    line-height: 2.2;
}
.error-message {
    color: red;
}
.margin-buff {
    margin : 4%;
}