.title-grid {
    display : grid;
    grid-template-columns : 70% 30%;
    margin : 0 15%;
}

.underline-card {
    color : rgb(102, 101, 101); 
    margin : 2.5% 10% 1%; 
    border: 1px solid;
}

.description {
    margin : 0 12%;
    font-size : calc(10px + .6vw)
}

.matched-interests {
    font-size : calc(10px + .6vw);
}

@media (min-width : 563px){
    .nav-grid {
        display : grid;
        grid-template-columns : 1fr 1fr 1fr 1fr;
        margin : 0 10% 3%;
    }
}

@media (max-width : 562px){
    .nav-grid {
        display : grid;
        grid-template-columns : 1fr 1fr;
        margin : 0 10% 3%;
    }
}
