.section-title {
    margin-top : 5%;
    color: rgb(90, 201, 238);
    text-shadow: -.02em -.02em 0 #000, .02em -.02em 0 #000, -.02em .02em 0 #000, .06em .06em 0 #000;
    margin-bottom : 2%;
    letter-spacing : .1em;
}

.underline {
    color : rgb(102, 101, 101);
    margin : 2% 17%;
    border: 1px solid;
}

@media (min-width : 1190px){
    .checkbox-grid{
        display : grid;
        grid-template-columns: 1fr 1fr 1fr;
        left: 0;
        right: 0;
        margin: 0 10vw;
    }
    .native-select {
        float : right;
        margin-top : 1.5%;
        margin-right : 15%;
    }
    .question {
        float : left;
        margin-left : 15%;
    }
}

@media (min-width : 764px) and (max-width : 1189px){
    .checkbox-grid{
        display : grid;
        grid-template-columns: 1fr 1fr;
        left: 0;
        right: 0;
        margin: 0 10vw;
    }
    .native-select {
        float : right;
        margin-top : 1.5%;
        margin-right : 10%;
    }
    .question {
        float : left;
        margin-left : 10%;
    }
}

@media (max-width : 763px){
    .checkbox-grid{
        display : grid;
        grid-template-columns: 1fr;
        margin: 0 10vw;
    }
    
}


.checkbox-grid > div{
    background-color : rgb(235, 235, 235);
}
.checkbox-grid > div:nth-child(odd){
    background-color :lightgray;
}

.questions-grid{
    display : grid;
    grid-template-columns: 1fr;
    background-color : rgb(235, 235, 235);
    left: 0;
    right: 0;
    margin: 0 10vw 3vh;
}

.questions-grid > div:nth-child(odd){
    background-color : lightgray;
}

.question {
    font-size : calc(10px + .6vw);
}